body{
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.circle{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 1.3rem;
    text-align: center;
    overflow: hidden;
    animation: grow 5s forwards;
    box-shadow: 0 0 5px white;
}
@keyframes grow {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(3);
        opacity: 0;
        font-size: 40px;
    }
}