*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}
.container{
    width: 40%;
    height: 35%;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(38, 31, 31);
    display: flex;
    gap: 1rem;
    flex-direction: column;
    border-radius: 5px;
}
.quote-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 55%;
    width: 100%;
    text-align: center;
    border-left: 5px solid rgb(47, 47, 250);
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0px 0px 1px rgb(38, 31, 31);
    font-style: oblique;
    font-weight: 700;
    font-size: 1.2rem;
}